:root {
  font-family: "Inter", sans-serif !important;
  font-style: normal;
  --background-primary: rgb(9,9,11);
}

a {
  text-decoration: none;
}
body {
   font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
}
.divMain {
  max-width: 1400px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.noResult {
  padding-top: 32px;
}
