body {
  font-family: "Roboto", sans-serif !important;
}
.divMain {
  max-width: 1400px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.colCard {
  margin-bottom: 20px;
}

.noResult{
  padding-top: 32px;
}

.divAdmin {
  max-width: 1400px;
  display: grid;
  align-items: center;
  justify-content: center;
 
}