body {
  font-family: "Roboto", sans-serif !important;
  background-color: #EFECE5;
}
.divMain {
  max-width: 1400px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.colCard {
  margin-bottom: 20px;
}

.noResult{
  padding-top: 32px;
}

.divAdmin {
  max-width: 1400px;
  display: grid;
  align-items: center;
  justify-content: center;
 
}

.cardsMain{display: flex;
  justify-content: center;
  width: 1400px;
  margin: 0 auto;
  margin-top: 20px;
 }