.bannerMain{
    background-color: #344955;
    max-height: 7.5vh;
    min-height: 55px;
    align-content: center;
    max-width: 1903px;
    width: 100vw;
    margin: 0 auto;
}

.bannerMain h3{
    color:  rgba(255, 208, 0, 0.945) ;
    text-align: center;
}