.commentBox {
  padding: 0px 16px;
  border-radius: 8px;
  background-color: #393e46;
  margin: 8px 0;
}

.user {
  font-size: 14px;
  padding-top: 8px;
  font-weight: 500;
  max-width: 75ch;
  min-width: 50ch;
}

.text {
  font-size: 14px;
  padding-bottom: 8px;
  font-weight: 300;
}

.text p {
  margin: 0;
}
