.imgHorizontal {
  aspect-ratio: 2/1 !important;
  width: 1400px;
  overflow: hidden;
}
.carousel {
  width: 1400px;
  border-radius: 4px;
  overflow: hidden;
}
.divHorizontalImg {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.titleHorizontal {
  font-weight: 700 !important;
  color: white !important;
  text-shadow: 1px 1px 2px black;
  font-size: 3em;
}

.categoryHorizontal {
  font-size: 16px;
  font-weight: 500 !important;
  color: white !important;
  text-shadow: 1px 1px 2px black;
}

.carousel-inner {
  border-radius: 4px;
}