.form {
  padding: 32px 32px;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

.form-floating > .form-select {
  padding-bottom: 0.525rem !important;
}

.dataComplementary {
  align-items: center;
}

.divSubscribers {
  display: flex;
  justify-content: center;
}

.divButton {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.titulo{
  text-align: center;
  color:  rgba(255, 208, 0, 0.945);
}

.imgEditForm{
  height: auto;
  width: 100%;
}

.dataComplementary{
  padding-bottom: 20px;
}

.rowImagenes{
  display: flex;
  justify-content: space-evenly;
}

.cargaImg{
  padding-top: 20px;
}